.calendar-header {
    padding: 2rem;
    padding-top: 0;
    margin-top: 0;
}
  
.calendar-title {
    font-size: 1.75rem;
    font-weight: 700;
    color: #8b7ff9;
    text-align: center;
    margin-bottom: 0.5rem;
    padding-top: 0;
    margin-top: 0;
}
  
.calendar-input {
    background-color: white;
    border-radius: 0.75rem;
    border: 0;
    height: 3rem;
}



.calendar-container {
  padding: 1rem 1.5rem; /* 상하 패딩 조절 */
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 0.25rem 2rem 1.5rem 2rem; /* 상단 여백 더 줄임 */
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0; /* 위아래 마진 줄임 */
  padding: 0.25rem 0; /* 패딩도 줄임 */
}


.calendar-nav-button {
  background-color: #8b7ff9;
  color: white;
  border-radius: 1rem;
  width: 2.5rem;  /* 넓이 줄임 */
  height: 2.5rem; /* 높이 추가 */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;  /* 패딩 제거 */
}
  
.calendar-nav-button:hover {
    background-color: #7a6ff8;
}
  
.calendar-month {
    font-size: 1.25rem;
    font-weight: 500;
}
  
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.25rem;
}
  
.calendar-day-name {
    text-align: center;
    font-size: 0.875rem;
    color: #6366f1;
    padding: 0.75rem 0;
    font-weight: 600;
}
  
.calendar-day {
    text-align: center;
    padding: 0.75rem 0;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 0.75rem;
    margin: 2px;
}
  
.calendar-day-other-month {
    color: #cbd5e1;
}
  
.calendar-day-current-month:hover {
    background-color: rgba(165, 180, 252, 0.2);
    transform: translateY(-1px);
}
  
.calendar-day-selected {
    background-color: #818cf8;
    color: #ffffffcc;
    border-radius: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}
  